<h1>Bienvenido</h1>

<h2>Crear Consecutivos</h2>
<hr>
<!-- <app-crear-consecutivos></app-crear-consecutivos>
<app-consecutivos></app-consecutivos> -->
<!-- <app-crear-comestibles></app-crear-comestibles> -->
<app-comestibles></app-comestibles>
<app-crear-desechables></app-crear-desechables>
<app-desechables></app-desechables>
<app-crear-limpieza></app-crear-limpieza>
<app-limpieza></app-limpieza>
<app-crear-tecnologia></app-crear-tecnologia>
<app-tecnologias></app-tecnologias>
<app-crear-proveedor></app-crear-proveedor>
<app-proveedores></app-proveedores>
<router-outlet />
